alacritty
autostart
btop
cachyos
cachyos-hello.json
cava
dconf
discord
fish
go
gtk-3.0
#kitty
main
micro
mimeapps.list
mozilla
nautilus
#niri
noctalia
obsidian
pulse
telegram-desktop
user-dirs.dirs
user-dirs.locale
vesktop
yay
#yazi
zed
cachyos-hello.json
mimeapps.list
user-dirs.dirs
user-dirs.locale
.gitignore
CLAUDE.md
system-sounds/sounds/steam
