// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-at-startup "dbus-update-activation-environment" "--all"
    spawn-at-startup "/usr/libexec/xdg-desktop-portal" "-r"
    spawn-at-startup "/opt/v2rayn-bin/v2rayN"
    spawn-at-startup "bash" "/home/art/.config/system-sounds/source/sounds-daemon.sh"
